@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Montserrat:wght@300&display=swap');

/* ----------------------BASE STYLES----------------------------- */

body {
    font-family: 'Montserrat', sans-serif !important;
}

.content-wrapper {
    background-image: url('https://res.cloudinary.com/dvncikson/image/upload/v1689884007/hero-image.jpg');
}

/*-----NAVBAR-----*/
.nav-item {
    padding-left: 20px;
}


/*----BANNER---*/

.banner{
    min-height: 50vh;
    background-image: url('https://res.cloudinary.com/dvncikson/image/upload/v1691609812/xafnv14ft2kogps3ivu6.jpg');
    background-position: center;
    background-size: cover;
}

.banner h1, .banner p{
    text-align: center;
    color: white;
}


/*----RECIPE CARD-----*/

.recipe-name{
    color: #444444;
    text-decoration: none;
}

.recipe-page .recipe-page-date{
    display: inline;
    margin-right: 8px;
}

/*---BUTTON---*/
.pagination a {
    color: #fff;
    background-color: black;
    border-radius: 5px;
}

/*------FOOTER------*/
footer {
    padding: 64px 0;
}

.social-networks {
    text-align: center;

}

.social-networks > li {
    display: inline;
    margin: 0 32px;
}

.social-networks i {
    font-size: 110%;
    color: #323031;
}
