{% extends 'base.html' %}

{% block content %}
<h1>{{ recipe.title }}</h1>
{{ recipe.posted_date }}
<small>By: {{ recipe.author }}</small><br/>
<hr>
<br/>
{{ recipe.description }}


<br/><br/>
<div>
<a href="{% url 'recipe_view' %}" class="btn btn-secondary">Back</a>
</div>

<br/><br/>
<hr>
<br/>
<form action="{% url 'like_recipe' recipe.pk %}" method="POST">
    {% csrf_token %}

    {% if liked %}
    <button type="submit" name="recipe_like_id", value="{{ recipe.id }}", 
    class="btn btn-primary btn-sm">UnLike</button> 
    {% else %}
    <button type="submit" name="recipe_like_id", value="{{ recipe.id }}", 
    class="btn btn-primary btn-sm">Like</button>

    {% endif %}
    - {{ total_likes }} Likes
</form>


{% endblock %}
